{% if post.url %}
  {% assign url = post.url %}
{% else %}
  {% assign url = page.url %}
{% endif %}

<div class="archive__item">
  <h2 class="archive__item-title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ post.title }}</a>
    {% else %}
      <a href="{{ url | relative_url }}" rel="permalink">{{ post.title }}</a>
    {% endif %}
  </h2>
  
  <p class="page__meta">
    {% if post.venue %}
      <i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i>
      <span class="venue">{{ post.venue }}</span>
      {% if post.date %}
        {% assign year = post.date | date: "%Y" | plus: 0 %}
        {% if year >= 2050 %}
          <br><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
          <em>Manuscript under review</em>
        {% else %}
          <br><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
          {{ post.date | date: "%B %d, %Y" }}
        {% endif %}
      {% endif %}
    {% endif %}
  </p>
  
  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 250 }}</p>
  {% endif %}
  
  {% if post.paperurl %}
    <p><a href="{{ post.paperurl }}" class="btn btn--primary">Read Full Article</a></p>
  {% endif %}
</div>
